@charset "UTF-8";
.price {
  position: relative;
  overflow: hidden;
}
.price_inner {
  background-color: #e5eeef;
  padding-bottom: 35px;
}
.price_title {
  margin-top: -20px;
}
.price_tag {
  position: relative;
  top: 14px;
  left: -70px;
  display: inline-block;
  padding: 2px 18px;
  background: #68a9ab;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.08em;
  border-radius: 15px;
  transform: rotate(-4deg);
  margin-bottom: 14px;
}
.price_main {
  display: block;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.14em;
  padding-bottom: 15px;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.9), 0 0 14px rgba(255, 255, 255, 0.7), 0 0 24px rgba(255, 255, 255, 0.5);
}
.price_main::after {
  left: 50%;
  bottom: 10px;
}
.price_sub {
  display: inline-block;
  color: #76d3d6;
  font-size: 14px;
  letter-spacing: 0.14em;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.9), 0 0 14px rgba(255, 255, 255, 0.7), 0 0 24px rgba(255, 255, 255, 0.5);
}
.price {
  /* あしらい “price” */
}
.price_title.deco-en::before {
  top: 20px;
  color: #919191;
  font-size: 76px;
  letter-spacing: 0.19rem;
  opacity: 0.15;
}
.price {
  /* 下に膨らむ曲線を作る（白い楕円を下にはみ出させる） */
}
.price::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 1030px; /* ここで“膨らみ量”調整 */
  transform: translateX(-50%);
  width: 140%;
  height: 340px; /* ここで曲線の深さ調整 */
  background: url("../images/price_title.png") center/cover no-repeat;
  border-radius: 50%;
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.03));
  z-index: 0;
}
.price_body {
  position: relative;
  z-index: 0;
}
.price_body .priceCard {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.price_body .priceCard_copy {
  position: relative;
  margin: 0 auto;
  padding: 6px 8px;
  width: 250px;
  font-size: 13px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 20px;
  z-index: 2;
}
.price_body .priceCard_accent_01 {
  color: #99ba4d;
}
.price_body .priceCard_accent_02 {
  color: #4f9fc0;
}
.price_body .priceCard_accent_03 {
  color: #bd9f3f;
}
.price_body .priceCard_accent_04 {
  color: #de8067;
}
.price_body .priceCard_title {
  position: relative;
  margin: -10px auto 0;
  padding: 20px 0;
  width: 335px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  z-index: 1;
}
.price_body .priceCard_bg_color_01 {
  background-color: #99ba4d;
}
.price_body .priceCard_bg_color_02 {
  background-color: #4f9fc0;
}
.price_body .priceCard_bg_color_03 {
  background-color: #bd9f3f;
}
.price_body .priceCard_price {
  margin: 0 auto;
  padding: 20px 0;
  width: 335px;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
}
.price_body .priceCard_price-num {
  font-size: 26px;
}
.price_body .priceCard_txt_color_01 {
  color: #99ba4d;
}
.price_body .priceCard_txt_color_02 {
  color: #4f9fc0;
}
.price_body .priceCard_txt_color_03 {
  color: #bd9f3f;
}
.price .priceTicket {
  position: relative;
  text-align: center;
}
.price .priceTicket_title {
  position: relative;
  margin: -10px auto 0;
  padding: 20px 0;
  width: 335px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: #757575;
}
.price .priceTicket_list {
  width: 335px; /* ← 中央寄せする幅 */
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 400;
}
.price .priceTicket_row {
  display: flex;
  align-items: baseline;
}
.price .priceTicket_row:last-child {
  justify-content: flex-end;
}
.price .priceTicket_name {
  width: 70px; /* 左列を揃える */
  text-align: right;
  margin-left: 50px;
  font-weight: 700;
  color: #444;
}
.price .priceTicket_value {
  margin-left: 20px;
  font-weight: 700;
  color: #444;
}
.price .priceTicket_tax {
  font-size: 12px;
}
.price .priceTicket_note {
  position: static;
  font-size: 12px;
  margin-top: 12px;
}
.price_bottom {
  width: 0;
  height: 0;
  margin: 0px auto 50px;
  border-left: 187.5px solid transparent;
  border-right: 187.5px solid transparent;
  border-top: 50px solid #e5eeef;
  position: relative;
}
.price_bottom::after {
  content: "";
  position: absolute;
  left: -187.5px;
  top: -48px; /* ← 影の位置微調整 */
  border-left: 187.5px solid transparent;
  border-right: 187.5px solid transparent;
  border-top: 50px solid rgba(0, 0, 0, 0.15);
  filter: blur(4px); /* ← 影っぽく */
  z-index: -1;
}

@media screen and (min-width: 1440px) {
  .price_inner {
    padding-bottom: 32px;
  }
  .price_head {
    position: relative;
  }
  .price_tag {
    top: -4px;
    font-size: 22px;
  }
  .price_main {
    font-size: 32px;
  }
  .price_sub {
    font-size: 16px;
    line-height: 1.6;
  }
  .price {
    /* あしらい “price” */
  }
  .price_title.deco-en::before {
    position: absolute;
    top: 20px;
    left: 42%;
    transform: rotate(-10deg);
    font-size: 100px;
    letter-spacing: 0.14rem;
    opacity: 0.2;
  }
  .price {
    /* 下に膨らむ曲線を作る（白い楕円を下にはみ出させる） */
  }
  .price::after {
    position: absolute;
    left: 50%;
    bottom: 800px; /* ここで“膨らみ量”調整 */
    transform: translateX(-50%);
    width: 140%;
    height: 380px; /* ここで曲線の深さ調整 */
  }
  .price_body .priceCard {
    position: relative;
    text-align: center;
    margin-bottom: 0px;
  }
  .price_body .priceCard_copy {
    position: relative;
    top: 46px;
    left: -280px;
    margin: 0 auto;
    padding: 6px 8px;
    width: 250px;
    font-size: 13px;
  }
  .price_body .priceCard_title {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .price_body .priceCard_title_plan {
    font-size: 18px;
    margin-top: 35px;
  }
  .price_body .priceCard_price {
    margin: 0;
    width: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .price_body .priceCard_price-num {
    font-size: 34px;
  }
  .price_body .priceCard_price-unit {
    margin-top: 10px;
    margin-left: 10px;
  }
  .price_body .plan_header {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 130px;
  }
  .price .priceTicket_title {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .price .priceTicket_title span {
    margin: 20px auto 0;
  }
  .price .priceTicket_list {
    margin: 0;
    width: 570px;
    font-size: 20px;
  }
  .price .priceTicket_row {
    display: flex;
    align-items: baseline;
    height: 30px;
  }
  .price .priceTicket_row:last-child {
    justify-content: flex-end;
  }
  .price .priceTicket_name {
    position: relative;
    top: 20px;
    left: 100px;
  }
  .price .priceTicket_value {
    position: relative;
    top: 20px;
    left: 100px;
    margin-left: 20px;
    font-weight: 700;
    color: #444;
  }
  .price .priceTicket_tax {
    font-size: 16px;
  }
  .price .priceTicket_note {
    margin-top: 36px;
    margin-right: 20px;
  }
  .price_bottom {
    border-left: 720px solid transparent;
    border-right: 720px solid transparent;
  }
  .price_bottom::after {
    left: -720px;
    top: -48px;
    border-left: 720px solid transparent;
    border-right: 720px solid transparent;
  }
}