body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    color: #494949;
    overflow-x: hidden;
}

// ラッパー
.wrapper {
    margin: 0 auto;
    width: 375px;
}

// セクションヘッド
.section_head {
    padding: 35px 0;
}

// セクションタイトル
.section-title {
    position: relative;
    line-height: 1.4;
    z-index: 1;
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

// 各タイトルのあしらい
.deco-en {
    position: relative;
    z-index: 1;
    &::before {
        content: attr(data-en);
        position: absolute;
        top: -20px;
        left: 50%;
        font-family: "Birthstone Bounce", cursive;
        font-size: 50px;
        font-weight: 400;
        transform: translateX(-50%) rotate(-6deg);
        opacity: 0.65;
        pointer-events: none;
        z-index: -1;
        color: #919191;
    }
}

// ========================
// PC（1440px〜）
// ========================
@media screen and (min-width: 1440px) {
    // ラッパー
    .wrapper {
        width: 1440px; // PC版コンテンツ幅
    }

    // セクションヘッド
    .section_head {
        padding: 80px 0;
        text-align: center;
    }

    // セクションタイトル
    .section-title {
        font-size: 40px;
        line-height: 1.2;
    }

    // 各タイトルのあしらい
    .deco-en {
        &::before {
            top: -40px;
            font-size: 90px;
        }
    }
}
