// プラン
.plan {
    &_inner {
        position: relative;
        margin: 0 a;
        padding-bottom: 50px;
        background: linear-gradient(
            180deg,
            rgba(250, 249, 235, 0.7) 0%,
            rgba(242, 227, 211, 0.7) 100%
        );
    }
    &_head {
        padding: 55px 0;
    }
    &_title {
        color: #494949;
    }
    /* 左右の十字 */
    &_head::before,
    &_head::after {
        content: "";
        position: absolute;
        top: 12px; // 上下位置
        width: 52px; // 横線の長さ
        height: 52px; // 縦線の長さ
        opacity: 0.6;
        background:
            linear-gradient(#333, #333) 0 15% / 100% 2px no-repeat,
            // 横線
            linear-gradient(#333, #333) 15% 0 / 2px 100% no-repeat; // 縦線
    }
    /* 左 */
    &_head::before {
        top: 10px;
        left: 20px; // 位置
    }

    /* 右 */
    &_head::after {
        top: 10px;
        right: 20px; // 位置
        transform: scaleX(-1);
    }
    &_lead {
        position: relative;
        display: inline-block;
        top: 8px; // 好きに
        font-size: 16px;
    }
    &_main {
        position: relative;
        display: inline-block;
        z-index: 1;
    }
    &_main_big {
        position: absolute;
        top: -30px; // 好きに
        left: -110px;
        font-size: 40px;
        color: #ef8080;
        white-space: nowrap;
    }
    &_main_big::after {
        content: "";
        position: absolute;
        left: 100%;
        bottom: -10px; // 線の位置（上下調整）
        transform: translateX(-50%);
        width: 220%; // 線の長さ
        height: 50px; // 線画像の高さ（見た目で調整）
        background: url("../images/line_yellow.png") center / contain no-repeat;
        z-index: -1; // 文字の後ろ
        pointer-events: none;
    }
    &_main_found {
        position: absolute;
        top: -8px; // 好きに
        left: 12px;
        font-size: 20px;
        color: #494949;
        white-space: nowrap;
    }
    /* あしらい “Plan” */
    &_title.deco-en::before {
        position: absolute;
        left: 50%;
        top: -30px;
        font-size: 32px;
        color: #e42b2b;
        opacity: 0.6;
        z-index: 2;
    }
    &_list {
        position: relative;
    }
    .planCard {
        margin: 0 auto;
        width: 335px;
        height: 400px;
        background-color: #f7f7f2;
        &_label {
            text-align: center;
            margin: 0 auto;
            padding: 18px 0;
            width: 335px;
            color: #fff;
            font-size: 16px;
            background: linear-gradient(
                52deg,
                #bb9677 0%,
                #dbbb9e 50%,
                #e3c09c 100%
            );
        }
        &_body {
            width: 300px;
            height: 325px;
            margin: 7px auto 0;
            background: #fff;
            padding: 20px 0; /* 任意（中の余白） */
            box-sizing: border-box;
            border-right: 4px solid rgba(187, 150, 119, 0.6);
            border-left: 4px solid rgba(187, 150, 119, 0.6);
            border-bottom: 4px solid rgba(187, 150, 119, 0.6);
        }
        &_image {
            position: relative;
            margin: 0 auto;
            width: 235px;
            z-index: 0;
            img {
                display: block;
                width: 100%;
                height: 130px; /* ←固定したい高さ */
                object-fit: cover;
                border: 4px solid #fff;
            }
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 60px; /* 四角のサイズ */
                height: 60px;
                background-color: #bb9677;
                z-index: -1; /* 画像の後ろへ */
            }
            /* 左上 */
            &::before {
                top: -5px;
                left: -5px;
            }
            /* 右下 */
            &::after {
                bottom: -5px;
                right: -13px;
            }
        }
        &_text {
            text-align: center;
            width: 290px;
            margin: 20px auto 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.8;
        }
        &_accent {
            color: #bb9677;
        }
    }
    // .planCard + .planCard {
    //     margin-top: 30px;
    // }
}

// ========================
// PC（1440px〜）
// ========================
@media screen and (min-width: 1440px) {
    .plan {
        /* 左右の十字 */
        &_head::before,
        &_head::after {
            width: 72px; // 横線の長さ
            height: 72px; // 縦線の長さ
        }
        /* 十字左 */
        &_head::before {
            top: 50px;
            left: 170px; // 位置
        }

        /* 十字右 */
        &_head::after {
            top: 50px;
            right: 170px; // 位置
            transform: scaleX(-1);
        }
        &_lead {
            font-size: 26px;
            top: 30px; // 好きに
        }
        &_main {
            position: relative;
            display: inline-block;
            z-index: 1;
        }
        &_main_big {
            position: absolute;
            top: -10px; // 好きに
            left: -160px;
            font-size: 60px;
            color: #ef8080;
            white-space: nowrap;
        }
        &_main_found {
            top: 22px; // 好きに
            left: 22px;
            font-size: 26px;
            color: #494949;
            white-space: nowrap;
        }
        /* あしらい “Plan” */
        &_title.deco-en::before {
            position: absolute;
            left: 50%;
            top: -30px;
            font-size: 60px;
        }
        &_list {
            margin-top: 50px;
        }
        .planCard {
            width: 960px; // ← 背景の幅

            &_label {
                width: 100%;
                font-size: 20px;
            }

            &_body {
                width: 80%;
                height: 280px;
                margin: 20px auto 0;
                padding: 20px 30px;
                display: grid;
                grid-template-columns: 280px 1fr;
                grid-auto-flow: column;
                column-gap: 45px;
                align-items: center;
            }

            &_image {
                width: auto;
                margin: 0;

                img {
                    width: 280px;
                    height: 175px;
                    object-fit: cover;
                }
                &::after {
                    bottom: -5px;
                    right: -12px;
                }
            }

            &_text {
                width: auto;
                margin: 0;
                text-align: left;
                font-size: 16px;
                line-height: 2;
            }
        }
        .planCard:nth-child(even) {
            .planCard_body {
                grid-template-columns: 1fr 280px; // 左=テキスト / 右=画像
            }

            .planCard_image {
                grid-column: 2; // 画像を右
            }

            .planCard_text {
                grid-column: 1; // テキストを左
            }
        }
    }
}
