@charset "UTF-8";
.plan_inner {
  position: relative;
  margin: 0 a;
  padding-bottom: 50px;
  background: linear-gradient(180deg, rgba(244, 244, 214, 0.5) 0%, rgba(187, 150, 119, 0.5) 100%);
}
.plan_head {
  padding: 55px 0;
}
.plan_title {
  color: #494949;
}
.plan {
  /* 左右の十字 */
}
.plan_head::before, .plan_head::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 52px;
  height: 52px;
  opacity: 0.6;
  background: linear-gradient(#333, #333) 0 15%/100% 2px no-repeat, linear-gradient(#333, #333) 15% 0/2px 100% no-repeat;
}
.plan {
  /* 左 */
}
.plan_head::before {
  top: 10px;
  left: 20px;
}
.plan {
  /* 右 */
}
.plan_head::after {
  top: 10px;
  right: 20px;
  transform: scaleX(-1);
}
.plan_lead {
  position: relative;
  display: inline-block;
  top: 8px;
  font-size: 16px;
}
.plan_main {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.plan_main_big {
  position: absolute;
  top: -30px;
  left: -110px;
  font-size: 40px;
  color: #ef8080;
  white-space: nowrap;
}
.plan_main_big::after {
  content: "";
  position: absolute;
  left: 100%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 220%;
  height: 18px;
  background: url("../images/line_yellow.png") center/contain no-repeat;
  z-index: -1;
  pointer-events: none;
}
.plan_main_found {
  position: absolute;
  top: -8px;
  left: 12px;
  font-size: 20px;
  color: #494949;
  white-space: nowrap;
}
.plan {
  /* あしらい “Plan” */
}
.plan_title.deco-en::before {
  position: absolute;
  left: 50%;
  top: -30px;
  font-size: 32px;
  color: #e42b2b;
  opacity: 0.6;
  z-index: 2;
}
.plan_list {
  position: relative;
}
.plan .planCard {
  margin: 0 auto;
  width: 335px;
  height: 400px;
  background-color: #f0efe7;
}
.plan .planCard_label {
  text-align: center;
  margin: 0 auto;
  padding: 18px 0;
  width: 335px;
  color: #fff;
  font-size: 16px;
  background: linear-gradient(45deg, #bb9677 0%, #d6b89f 100%);
}
.plan .planCard_body {
  width: 300px;
  height: 325px;
  margin: 7px auto 0;
  background: #fff;
  padding: 20px 0; /* 任意（中の余白） */
  box-sizing: border-box;
  border-right: 4px solid rgba(187, 150, 119, 0.6);
  border-left: 4px solid rgba(187, 150, 119, 0.6);
  border-bottom: 4px solid rgba(187, 150, 119, 0.6);
}
.plan .planCard_image {
  position: relative;
  margin: 0 auto;
  width: 235px;
  z-index: 0;
}
.plan .planCard_image img {
  display: block;
  width: 100%;
  height: 130px; /* ←固定したい高さ */
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #fff;
}
.plan .planCard_image::before, .plan .planCard_image::after {
  content: "";
  position: absolute;
  width: 60px; /* 四角のサイズ */
  height: 60px;
  background-color: #bb9677;
  z-index: -1; /* 画像の後ろへ */
}
.plan .planCard_image {
  /* 左上 */
}
.plan .planCard_image::before {
  top: -5px;
  left: -5px;
}
.plan .planCard_image {
  /* 右下 */
}
.plan .planCard_image::after {
  bottom: -5px;
  right: -13px;
}
.plan .planCard_text {
  text-align: center;
  width: 290px;
  margin: 20px auto 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.8;
}
.plan .planCard_accent {
  color: #bb9677;
}
.plan .planCard + .planCard {
  margin-top: 30px;
}

@media screen and (min-width: 1440px) {
  .plan {
    /* 左右の十字 */
  }
  .plan_head::before, .plan_head::after {
    width: 72px;
    height: 72px;
  }
  .plan {
    /* 十字左 */
  }
  .plan_head::before {
    top: 50px;
    left: 170px;
  }
  .plan {
    /* 十字右 */
  }
  .plan_head::after {
    top: 50px;
    right: 170px;
    transform: scaleX(-1);
  }
  .plan_lead {
    font-size: 26px;
    top: 30px;
  }
  .plan_main {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .plan_main_big {
    position: absolute;
    top: -10px;
    left: -160px;
    font-size: 60px;
    color: #ef8080;
    white-space: nowrap;
  }
  .plan_main_found {
    top: 22px;
    left: 22px;
    font-size: 26px;
    color: #494949;
    white-space: nowrap;
  }
  .plan {
    /* あしらい “Plan” */
  }
  .plan_title.deco-en::before {
    position: absolute;
    left: 50%;
    top: -30px;
    font-size: 60px;
  }
  .plan_list {
    margin-top: 50px;
  }
  .plan .planCard {
    width: 800px;
  }
  .plan .planCard_label {
    width: 800px;
    font-size: 20px;
  }
  .plan .planCard_body {
    width: 700px;
    height: 280px;
    margin: 20px auto 0;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-auto-flow: column;
    -moz-column-gap: 45px;
         column-gap: 45px;
    align-items: center;
  }
  .plan .planCard_image {
    width: auto;
    margin: 0;
  }
  .plan .planCard_image img {
    width: 280px;
    height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .plan .planCard_image::after {
    bottom: -5px;
    right: -12px;
  }
  .plan .planCard_text {
    width: auto;
    margin: 0;
    text-align: left;
    font-size: 16px;
    line-height: 2;
  }
  .plan .planCard:nth-child(even) .planCard_body {
    grid-template-columns: 1fr 280px;
  }
  .plan .planCard:nth-child(even) .planCard_image {
    grid-column: 2;
  }
  .plan .planCard:nth-child(even) .planCard_text {
    grid-column: 1;
  }
}